@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

/* ========= Váriavel (Tema claro) ========= */
:root {
    --body-bg-color: #e0e5ec;
    --bg-color: #e0e5ec;
    --primary-font-color: rgba(144, 152, 168, 1);
    --secondary-font-color: rgba(51, 64, 89, 1);
    /* Sombras para Neumorfismo (Claro) */
    --soft-high-light: rgba(255, 255, 255, .43);
    --dark-high-light: rgba(217, 210, 200, .51);
}

/* ========= Váriavel (Tema claro) ========= */
[data-theme="dark"] {
    --bg-color: #131419;
    --primary-font-color: #c7c7c7;
    --secondary-font-color: #03a9f4;
    /* Sombras para Neumorfismo (Escuro) */
    --soft-high-light: rgba(255, 255, 255, .05);
    --dark-high-light: rgba(0, 0, 0, .51);
}

/* ========================================= */

* {
    box-sizing: border-box;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-items: center;

    background: var(--body-bg-color);
    color: var(--primary-font-color);
    font-family: 'Odibee Sans';
    font-size: 16px;
}

.calculator {
    background: var(--bg-color);
    color: var(--primary-font-color);
    box-shadow: 0 0 16px rgba(0, 0, 0, .1);
    border-radius: 20px;
    padding: 50px 40px 40px 40px;
}

/* ========= Layout Grid ========= */
.calculator {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 Colunas */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /* 7 Linhas */
    /* Definir as áreas por nome para posicionamento */
    grid-template-areas: 
        "toggle toggle toggle toggle" 
        "display display display display" 
        "c signed percent divide" 
        "seven eight nine times" 
        "four five six minus" 
        "one two three plus" 
        "zero zero decimal equals";
    align-items: center;
    justify-items: center;
    grid-row-gap: 25px;
    grid-column-gap: 25px;
}

/* Posicionamento dos Grid */
.toggle {grid-area: toggle;}

.display {grid-area: display;}

.c {grid-area: c;}

.signed {grid-area: signed;}

.percent {grid-area: percent;}

.divide {grid-area: divide;}

.sete {grid-area: seven;}

.oito {grid-area: eight;}

.nove {grid-area: nine;}

.vezes {grid-area: times;}

.quatro {grid-area: four;}

.cinco {grid-area: five;}

.seis {grid-area: six;}

.menos {grid-area: minus}

.um {grid-area: one;}

.dois {grid-area: two;}

.tres {grid-area: three;}

.mais {grid-area: plus;}

.zero {grid-area: zero;}

.decimal {grid-area: decimal;}

.igual {grid-area: equals;}

/* ========== Estilo dos Botões ========= */

/* Estilo da teal - Efeito aprofundado */

.display {
    box-shadow: 6px 6px 16px 0 var(--dark-high-light), 
                -6px -6px 16px 0 var(--soft-high-light),
                inset 6px 6px 5px 0 var(--dark-high-light), 
                inset -6px -6px 5px 0 var(--soft-high-light);

    border: 5px solid var(--soft-high-light);
    color: var(--secondary-font-color);
    border-radius: 12px;
    transition: .1s all ease-in-out;
    height: 60px;
    line-height: 60px;
    text-align: right;
    padding-right: 20px;
    width: 100%;
    font-size: 32px;
    letter-spacing: 4px;
}

/* Estilo dos botões */
.c,
.signed,
.percent,
.divide,
.sete,
.oito,
.nove,
.vezes,
.quatro,
.cinco,
.seis,
.menos,
.um,
.dois,
.tres,
.mais,
.zero,
.decimal,
.igual {
    text-align: center;
    height: 60px;
    width: 60px;
    line-height: 60px;
}

/* Efeito afundado */
.neumorphic:hover {
    box-shadow: inset 6px 6px 5px 0 var(--dark-high-light),
                inset -6px -6px 5px 0 var(--soft-high-light);

    color: var(--secondary-font-color);
}

.zero {
    width: 100%;
    border-radius: 12px;
}

/* ========= Estilo do Interruptor ========= */

.toggle {
    width: 100%;
}

.theme-switch-wrapper {
    display: block;
    float: right;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

/* Trilha do Slider */

.slider {
    box-shadow: 6px 16px 0 var(--dark-high-light), -6px -6px 16px 00 var(--soft-high-light),
                inset 6px 6px 5px 0 var(--dark-high-light), inset -6px -6px 5px 0 var(--soft-high-light);
    
    background-color: inherit;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    border: 2px solid rgba(255, 255, 255, .2);
}

.slider::before {
    background-color: var(--bg-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    bottom: 4px;
    content: "";
    height: 22px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 22px;
}

/* Efeito do interrupitor ao ligar */
input:checked + .slider {
    background-color: var(--bg-color);
    /* Substituição do @include inOutNeumorphic */
    box-shadow: 6px 6px 16px 0 var(--dark-high-light),
                -6px -6px 16px 0 var(--soft-high-light),
                inset 6px 6px 5px 0 var(--dark-high-light),
                inset -6px -6px 5px 0 var(--soft-high-light);
}

input:checked + .slider:before {
    background-color: var(--secondary-font-color);
}

/* Movimentação ao puxar */
input:checked + .slider:before {
    transform: translateX(26px);
}

/* Estilo arrendodado para o Toggle */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}